nav {
  & a {
    font-family: Avenir;
    position: relative;
    font-size: 19px;
    text-decoration: none;
    color: black;
    padding-right: 2rem;
    text-decoration: none;

    &::before {
      background: #000;
      bottom: -3px;
      content: "";
      height: 3px;
      position: absolute;
      width: 22px;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      -webkit-transition: transform 250ms ease-in-out;
      -moz-transition: transform 250ms ease-in-out;
    }

    &.active {
      font-family: "Avenir-Bold";
      font-weight: 900;
      text-decoration: none;
      color: black;

      &::before {
        background: #000;
        bottom: -3px;
        content: "";
        height: 3px;
        position: absolute;
        width: 22px;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        transition: transform 250ms ease-in-out;
        -webkit-transition: transform 250ms ease-in-out;
        -moz-transition: transform 250ms ease-in-out;
      }
    }

    &:hover {
      text-decoration: none;
      color: black;
      font-size: 19px;

      &::before {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform-origin: 0% 100%;
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
      }
    }
  }
}

.signupbtn {
  &:hover {
    color: #000;
  }
}

.call {
  display: inline-block;
  margin-left: 1rem;
  font-weight: bolder;
  opacity: 0.5;
  transition: all 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.owl-carousel {
  & .card {
    display: flex;
    flex-direction: column;

    padding-top: 31px;

    align-items: center;
    justify-content: center;

    & .card-body {
      padding: 31px;
    }
  }
}
.category {
  padding: 3rem 4rem;
  text-align: center;
  .category-items {
    height: 300px;

    .cat-card {
      & .card-body {
        background-color: #f5f5f5;
        padding: 3rem 2rem;
        border-radius: 25px;
        transition: all 0.35s ease-in-out;

        &:hover {
          background-color: #dbb354 !important;
          border-radius: 58px !important;

          & ~ p {
            color: #dbb354 !important;
            font-weight: bolder;
            font-size: 20px;
          }

          & svg {
            fill: #000;
          }
        }

        & svg {
          fill: #e8e8e8;
          transition: all 0.35s ease-in-out;
        }
      }

      & p {
        color: #e8e8e8 !important;
        transition: all 0.35s ease-in-out;
      }
    }
  }
}
.video-section {
  & video[poster] {
    width: 100%;
    height: 100%;
  }

  & .slider-nav {
    z-index: 1;
    position: relative;
    top: 260px;
    left: 47%;
    width: 100px;

    & .nav {
      display: inline-block;
      width: 39px;
      height: 39px;
      background: url("./images/nav-circle.png") no-repeat;
      background-size: cover;
      position: relative;
      cursor: pointer;

      & .right {
        position: absolute;
        margin-top: 14px;
        margin-left: 18px;
        z-index: 1;
        width: 11px;
        height: 11px;
        border-style: solid;
        border-color: transparent transparent transparent #dbb354;
        border-width: 6px;
      }

      & .left {
        position: absolute;
        margin-top: 14px;
        margin-left: 9px;
        z-index: 1;
        width: 11px;
        height: 11px;
        border-style: solid;
        border-color: transparent #dbb354 transparent transparent;
        border-width: 6px;
      }
    }
  }
}

.upcoming-event {
  padding: 0rem 4rem 3rem;

  & .event-section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    & .event {
      margin-right: 40px;

      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
}

/** SUmo select **/

.SumoSelect {
  .CaptionCont {
    background-color: #d4b354;
    width: 300px;
    height: 40px;
    line-height: 30px;
    font-family: Montserrat;
    font-weight: bold;
    box-shadow: 0px 4px 0 0 rgba(175, 138, 51, 0.5);

    &:hover {
      box-shadow: 0px 4px 0 0 rgba(175, 138, 51, 0.5);
    }

    label {
      i {
        opacity: 1;
        top: 8px;
      }
    }
  }

  &.open {
    .optWrapper {
      top: 40px;
      width: 150%;
      color: #d4b354;
      background-color: #000;

      .options {
        li {
          height: 40px;
          line-height: 30px;

          &:hover {
            background-color: #d4b354;
            color: #000;
          }

          &.selected {
            label {
              color: white !important;
            }
          }
        }
      }
    }
  }
}
