@font-face {
  font-family: "Avenir";
  src: url("./fonts/avnir_sv/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("./fonts/avnir_sv/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "nexa";
  src: url("./fonts/Nexa/Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
  src: url("./fonts/Nexa/Nexa/Nexa_V1_2012/Nexa\ Light.otf");
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgba(0,0,0,0.5),#b79136);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom,rgba(0,0,0,0.2),#b79136),
  linear-gradient(to top,rgba(0,0,0,0.2),#b79136); 
}

body {
  font-family: Montserrat;
}
#myBtn{
  cursor:pointer;
}
           
/* The Modal (background) */
.howitworks-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: hidden; /* Enable scroll if needed */
  background:white;
  height: 100%;
}

/* Modal Content */
.howitworks-modal-content {
  background: url('images/modal-bg.png') no-repeat top,
  linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-size: cover;
  height: 100%;
  width: 100%;
  box-sizing:border-box;
  padding: 50px 100px 50px 100px ;
  
}
.howitworks-modal-content:before {
    margin-top: 70px;
  position:absolute;
  content: "";
  top: 0;
  left: 0;
  transform: skewY(5deg);
  background: black;
  height: 80%;
  width: 100%;
}
.howitworks-modal-content:after {
    margin-top: 50px;
  position:absolute;
  content: "";
  top: 0;
  left: 0;
  transform: skewY(-5deg);
  background: #d4b354;
  height: 88%;
  width: 100%;
}
.howitworks-modal-content .row{
    position: relative; 
    z-index: 3;
    height: 514px;
}
.howitworks-modal-content .row a{
text-decoration: none;
color: #d4b354;
}
/* The Close Button */
.close {
  color: #000;
  opacity: 1;
  float: right;
  font-size: 40px;
  font-weight: 800;
  z-index: 3;
  position: relative;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
    .howitworks-title{
        margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2.1px;
    color: #000000;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
}
.howitworks-cards{
    margin-bottom: 10px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    position: relative;
    z-index: 3;  
    font-size: 24.5px;
    font-weight: bold;
}
.howitworks-cards:nth-child(3){
    margin-bottom: 0px;
}
.howitworks-cards .img img{
    width: 61px;
    height: 61px;
}
.howitworks-cards .text{
    margin-left: 50px;
}

.howitworks-video{
    margin:0;
    padding: 0;
    width: 100%;
    height: 410px;
    border-radius: 20px;
    position: relative;
    z-index: 3;
    background-color: #b79136;
}
.howitworks-video video{
    width: 100%;
    height: 410px;
    border-radius: 20px;
    background-color: black;
}
.howitworks-video video[poster]{
    width: 100%;
    height: 410px;
    border-radius: 20px;
}
.maindiv {
  background: url("./images/home_page.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 4rem 0rem;
  width: 100%;
}
.category-page-maindiv {
  background: url("./images/about_banner.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   padding: 3rem 4rem 0rem;
  width: 100%;
  height: 426px;
}
.fashion-section {
  margin: 70px 0px 100px 0px;
  text-align: center;
}
.fashion-text {
  font-family: Avenir;
  font-size: 88px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 26.4px;
  color: #000000;
}

.upevent-heading {
  font-size: 42px;
  color: #d4b363;
  letter-spacing: 2.1px;
  margin-bottom: 37px;
}
.categories {
  font-size: 42px;
  color: #d4b363;
  letter-spacing: 2.1px;
  font-weight: bolder;
}
.catcaption {
  color: #dbb354;
  font-size: 14px;
}

.pickabooth-logo img {
  width: 203px;
  height: 39px;
}

.navbar-collapse {
  padding: 0px;
  margin-left: 99px;
  margin-right: 83px;
  width: 471px;
}
.signupbtn {
  font-family: Avenir;
  font-size: 10.5px;
  font-weight: 900;
  letter-spacing: 3.15px;
  border-radius: 5px;
  background-color: #c9a247;
  color: #8c6e28;
  width: 85px;
  height: 25px;
}

.loginbtn {
  font-family: Avenir;
  font-size: 10.5px;
  font-weight: 900;
  letter-spacing: 3.15px;
  border-radius: 5px;
  background-color: #000000;
  color: #dbb354;
  width: 85px;
  height: 25px;
}
.loginbtn:hover {
  color: #fff;
}

.langbtn {
  font-family: Avenir;
  font-size: 15px;
  font-weight: 900;
  border-radius: 5px;
  background-color: #c9a247;
  color: #8c6e28;
}

.howitworks {
  margin: 87px 0 47px;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 1.45px;
  color: black;
  text-align: center;
}
.threeboxes {
  box-sizing: border-box;
  padding: 0px 8rem 2rem;
  width: 80%;
  margin: auto;
}
.category .row .col-md-2 .card {
  border: none;
}
.category .row .col-md-2 .card .card-body {
  border-radius: 25px;
  background-color: #f5f5f5;
}

.category .row .col-md-2 .card #catcap1,
.category .row .col-md-2 .card #catcap2,
.category .row .col-md-2 .card #catcap3,
.category .row .col-md-2 .card #catcap4,
.category .row .col-md-2 .card #catcap5,
.category .row .col-md-2 .card #catcap6 {
  color: #f5f5f5;
}
.category-section {
  background-color: black;
}
#category {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#category .card {
  display: block;
  margin-right: 20px;
}

#category .card:nth(5) {
  margin-right: 0px;
}

#category .cat-dropdown select option:hover {
  background-color: #d4b354;
  color: black;
  font-size: 10px;
}

#category .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid #dbb354;
  padding: 1rem;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#category .card-body svg {
  fill: #d4b363;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  transform: scale(0.7);
}
#category .card-body:hover {
  background-color: #dbb354 !important;
  transform: scale(1.2);
}

#category .card-body:hover svg {
  fill: #000;
  transform: scale(1);
}


.event-section {
  margin: 95px 0px 0px 0px;
}

.event-section .event-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 320px;
  -webkit-overflow-scrolling: touch;
}

.event-section .event-row::-webkit-scrollbar {
  display: none;
}
.event-section .event-row .event .card,
.event-section .event-row .event .card img {
  border-radius: 15px;
}

.event-section .event-row .event .card {
  width: 343px;
  height: 284.9px;
  background: url("./images/main-background.png") no-repeat center center,
    linear-gradient(to top, rgb(219, 179, 84, 0.9), rgb(219, 179, 84, 1));
  background-size: cover;
}
.event-section .event-row .event .card .badge1 {
  width: 130px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  left: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}
.event-section .event-row .event .card .badge1 p {
  display: inline-block;
  font-size: 10px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 22%;
  margin-top: 3px;
}
.event-section .event-row .event .card .badge1 b {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 20%;
}
.event-section .event-row .event .card .badge1 img {
  width: 20px;
  height: 20px;
  left: 2%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}
.event-section .event-row .event .card .badge2 {
  width: 100px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.event-section .event-row .event .card .badge2 p {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 25%;
  margin-top: 3px;
}
.event-section .event-row .event .card .badge2 img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.event-section .event-row .event .card .badge3 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.event-section .event-row .event .card .badge3 p {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 35%;
  margin-top: 3px;
}
.event-section .event-row .event .card .badge3 img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.event-section .event-row .event .card .badge4 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  border-radius: 9.8px;
  position: absolute;
  z-index: 1;
}
.event-section .event-row .event .card .badge4 img {
  width: 31px;
  height: 20px;
  left: 4%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}

.event-section .event-row .event .card .badge4 .line {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  color: black;
  position: absolute;
  left: 38%;
  top: 5%;
}

.event-section .event-row .event .card .badge4 .upper-text {
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: black;
  position: absolute;
  left: 50%;
  top: 6%;
  margin-top: 0px;
}

.event-section .event-row .event .card .badge4 .lower-text {
  display: inline-block;
  width: 120px;
  height: 20px;
  font-size: 10.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.53px;
  text-align: right;
  color: #000000;
  position: absolute;
  left: 50%;
  top: 55%;
}

.event-section .event-row .event .card .event-logo {
  width: 99px;
  height: 77px;
  margin: 10px;
  top: 30%;
  left: 20%;
  position: absolute;
  z-index: 1;
}
.event-section .event-row .event .card .event-logo img {
  width: 99px;
  height: 77px;
  position: absolute;
  display: inline-block;
  z-index: 1;
}

.category-cards-section {
  margin: 95px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.category-page-event-section .category-page-event-row .category-page-event {
  display: inline-block;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card {
  border-radius: 15px;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .first-card {
  width: 343px;
  height: 284.9px;
  background: url("./images/main-background.png") no-repeat center center,
    linear-gradient(to top, rgb(219, 179, 84, 0.9), rgb(219, 179, 84, 1));
  background-size: cover;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .center-card {
  width: 343px;
  height: 284.9px;
  background-color: #d4b363;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge1 {
  width: 130px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  left: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge1
  p {
  display: inline-block;
  font-size: 10px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 22%;
  margin-top: 3px;
}
.category-page-event-section .event-row .event .card .badge1 b {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 20%;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge1
  img {
  width: 20px;
  height: 20px;
  left: 2%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge2 {
  width: 100px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge2
  p {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 25%;
  margin-top: 3px;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge2
  img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge3 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge3
  p {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 35%;
  margin-top: 3px;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge3
  img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge4 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  border-radius: 9.8px;
  position: absolute;
  z-index: 1;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge4
  img {
  width: 31px;
  height: 20px;
  left: 4%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge4
  .line {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  color: black;
  position: absolute;
  left: 38%;
  top: 5%;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge4
  .upper-text {
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: black;
  position: absolute;
  left: 50%;
  top: 6%;
  margin-top: 0px;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .badge4
  .lower-text {
  display: inline-block;
  width: 120px;
  height: 20px;
  font-size: 10.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.53px;
  text-align: right;
  color: #000000;
  position: absolute;
  left: 50%;
  top: 55%;
}

.category-page-event-section
  .category-page-event-row
  .category-page-event
  .first-card
  .event-logo {
  width: 160px;
  height: 160px;
  padding-top: 40px;
  margin: 60px 10px 10px 90px;
  background-color: purple;
  color: white;
  border-radius: 100px;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .center-card
  .event-logo {
  width: 160px;
  height: 160px;
  margin: 60px 10px 10px 90px;
  padding-top: 40px;
  background-color: white;
  color: purple;
  border-radius: 100px;
  text-align: center;
}
.category-page-event-section
  .category-page-event-row
  .category-page-event
  .card
  .event-logo
  img {
  width: 70px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
}

/* .category-page-event-section .category-page-event-row .category-page-event {
  padding: 5px;
} */
.owl-carousel .card img {
  width: 77px;
  height: 77px;
  object-fit: contain;
  image-rendering: crisp-edges;
}
.pagination {
  margin: 5rem 25rem 5rem 25rem;
  display: inline-block;
}

.pagination #two,
.pagination #three,
.pagination #four,
.pagination #five,
.pagination #six {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination #left-angle,
.pagination #right-angle {
  border: 2px solid black;
  border-radius: 100px;
  color: black;
  float: left;
  padding: 2px 15px;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a#four {
  background-color: black;
  color: white;
  padding: 10px 18px;
  border-radius: 100px;
}

.pagination a:hover:not(#four) {
  background-color: #ddd;
  border-radius: 100px;
}
.owl-carousel .card {
  border-radius: 12px;
  box-shadow: 0px 7px 10px 0 rgba(38, 38, 37, 0.2);
  background-color: #000000;
}

.owl-carousel .card .card-body .card-title {
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: 4.9px;
  color: #d4b363;
  font-size: 24px;
}

.owl-carousel .card .card-body .card-text {
  font-size: 8.5px;
  line-height: 2.29;
  letter-spacing: 0.43px;
  text-align: justify;
  color: #d4b363;
}

.owl-carousel .owl-nav button.owl-next {
  background: black;
  position: absolute;
  width: 40px;
  border-radius: 100px;
  height: 40px;
  right: -30%;
  top: 40%;
  font-size: 20px;
  font-weight: bolder;
  color: #8c6e28;
  padding: 20px;
  display: inline-block;
}
.owl-carousel .owl-nav button.owl-prev {
  display: inline-block;
  background: black;
  position: absolute;
  width: 40px;
  border-radius: 100px;
  height: 40px;
  left: -30%;
  top: 40%;
  font-size: 20px;
  font-weight: bolder;
  color: #8c6e28;
  padding: 20px;
}
.owl-dots {
  text-align: center;
  padding-top: 39px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #8c6e28;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

.video-section {
  position: relative;
  background-color: white;
  min-height: 1120px;
  padding: 170px 50px 0px;
}

.video-section:before {
  margin-top: 140px;
  content: "";
  width: 100%;
  height: 70%;
  top: 0;
  right: 0;
  background-color: black;
  position: absolute;
  transform: skewY(7deg);
}

.video-section:after {
  margin-top: 70px;
  content: "";
  width: 100%;
  height: 85%;
  top: 0;
  right: 0;
  background-color: #d9b253;
  position: absolute;
  transform: skewY(-6deg);
}

.video-section .top-content {
  z-index: 3;
  position: relative;
  margin: 160px 0px 0px 140px;
  width: 100%;
  padding: 0%;
}
.video-section .top-content .carousel {
  border-radius: 20px;
  width: 80%;
  height: 70%;
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
}
.video-section .top-content .carousel-inner {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.video-section .top-content .carousel-inner .carousel-item {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.video-section
  .top-content
  .carousel-inner
  .carousel-item
  .embed-responsive-16by9 {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.video-section
  .top-content
  .carousel-inner
  .carousel-item
  .embed-responsive-16by9
  .embed-responsive-item {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
}
.carousel-control-prev,
.carousel-control-next {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 1;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev {
  font-size: 8px;
  padding: 4px 2px 0px 0px;
  background-color: black;
  position: absolute;
  left: 46%;
  top: 105%;
  z-index: 2;
  opacity: 1;
}
.carousel-control-next {
  background-color: black;
  position: absolute;
  right: 46%;
  top: 105%;
  z-index: 2;
  opacity: 1;
  font-size: 8px;
  padding: 5px px 0px 2px;
}
.carousel-indicators {
  display: none;
}
.footer-section {
  margin-top: 400px;
}

.footer {
  width: 100%;
  height: 316px;
  position: relative;
}
.footer .img img {
  z-index: -1;
  margin-bottom: 316px;
}
.footer::after {
  bottom: 0%;
  content: "";
  position: absolute;
  width: 100%;
  height: 15vh;
  background-color: #dbb354;
}
.contact {
  box-sizing: border-box;
  z-index: 1;
  bottom: 0%;
  left: 223px;
  position: absolute;
  width: 316px;
  height: 586px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #000000;
}
.address {
  display: inline-block;
  height: 21px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: right;
  margin: 71px 0px 0px 50px;
  color: #d4b363;
}
.Tamin-Street-Doha {
  display: inline-block;
  margin: 22px 0px 0px 50px;
  height: 16px;
  font-size: 18.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: 0.93px;
  text-align: right;
  color: #d4b363;
}
.phone {
  margin: 41px 0px 0px 50px;
  display: inline-block;
  height: 21px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: right;
  color: #d4b363;
}
.footer-phone {
  display: inline-block;
  margin: 22px 0px 0px 50px;
  height: 16px;
  font-size: 18.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: 0.93px;
  text-align: right;
  color: #d4b363;
}
.email {
  margin: 41px 0px 0px 50px;
  display: inline-block;
  height: 21px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: right;
  color: #d4b363;
}
.footer-email {
  display: inline-block;
  margin: 22px 0px 0px 50px;
  height: 16px;
  font-size: 18.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: 0.93px;
  text-align: right;
  color: #d4b363;
}
.footer-pickabooth {
  display: inline-block;
  margin: 65px 56px 0px 57px;
}
.facebook {
  font-size: 18px;
  display: inline-block;
  color: #d4b363;
  margin: 20px 0px 20px 70px;
  padding:5px 12px 2px  12px;
}
.instagram {
  font-size: 20.5px;
  display: inline-block;
  margin: 20px 0px 20px 30px;
  color: #d4b363;
  padding:3px 9px 2px  9px;
}
.twitter {
  padding:3px 8px 2px  8px;
  font-size: 20.5px;
  display: inline-block;
  margin: 20px 0px 20px 30px;
  color: #d4b363;
}
.facebook:hover,.instagram:hover,.twitter:hover{
  background-color: #d4b363;
  color: #000;
  border-radius: 50px;
}
.contact-form {
  box-sizing: border-box;
  z-index: 1;
  bottom: 0%;
  left: 671px;
  position: absolute;
  width: 316px;
  height: 586px;
}
/* .Name {
            display: block-lock;
            width: 55px;
            height: 15px;
            font-family: Nexa;
            font-size: 19.5px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.31;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-bottom:50px ;
          } */
.name-input {
  outline: none;
  font-size: 21px;
  color: #000000;
  display: block-lock;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  width: 506px;
  z-index: 2;
  opacity: 1;
}
.submit-bg {
  margin: 38px 0px 0px 0px;
  width: 506px;
  height: 52px;
  background-color: #000000;
  font-family: Nexa;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 3.6px;
  text-align: center;
  color: #dbb354;
}

.reach-to-us {
  box-sizing: border-box;
  z-index: 1;
  top: 71%;
  left: 729px;
  position: absolute;
}
.Rectangle-15 {
  width: 400px;
  height: 80px;
  border-radius: 6px;
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.97;
  letter-spacing: 3.6px;
  color: #dbb354;
}

#slider {
  margin: auto;
  width: 80%;
  height: 55%;
  z-index: 1;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
input[type="radio"] {
  z-index: 1;
  position: relative;
  top: 170%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0px 15px 0px 0px;
  opacity: 0.5;
  cursor: pointer;
  transform: translateX(-83px);
}

input[type="radio"]:nth-child(3) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}
#slider label {
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  width: 100%;
  transition: transform 400ms ease;
}
#slider label video {
  border-radius: 20px;
  height: 720px;
}
#slider label video source {
  left: 0%;
  position: absolute;
  display: inline-block;
  width: 100%;
  border-radius: 20px;
}

#slide1 {
  background-color: black;
}

#slide2 {
  background-color: black;
}

#slide3 {
  background-color: black;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -175px);
}
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -175px);
}

/* aboutus style */

.aboutUs-page-maindiv {
  background: url("./images/main-background.png") no-repeat center top,
    linear-gradient(to top, rgb(219, 179, 84, 0.9), rgb(219, 179, 84, 1));
  background-size: cover;
  padding: 3rem 4rem 0rem;
  width: 100%;
  height: 361px;
}
.aboutUs-section {
  margin: 106px 500px 127px 500px;
}
.aboutUs-title {
  font-size: 46.5px;
  font-weight: bold;
  letter-spacing: 2.33px;
  color: #000000;
}
.text-section {
  margin: 92px 0px 0px 0px;
}
.aboutUs-paragraph {
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.29;
  letter-spacing: 1.05px;
  text-align: justify;
  color: #dbb354;
}
.card-bar-section {
  margin: 86px 0px 0px 0px;
  height: 281px;
  background-color: black;
  padding: 45px 0px 0px 0px;
}
.card-bar-section .col-4 {
  padding: 0px 20px 0px 0px;
}
.card-bar-section .col-4:nth-child(3) {
  padding: 0px 0px 0px 0px;
}
.card-bar-section .col-4 .card {
  border-radius: 10px;
  background-color: #c9a247;
}
.card-bar-section .col-4 .card .card-body {
  height: 166px;
  padding: 50px 40px 50px 70px;
}
.card-bar-image {
  width: 30%;
  float: left;
}
.card-bar-image img {
  width: 100%;
  height: 100%;
}
.card-bar-uppert-text {
  width: 70%;
  padding-left: 10px;
  float: right;
}
.card-bar-uppert-text p {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.card-bar-lower-text {
  width: 70%;
  padding-left: 10px;
  float: right;
}
.card-bar-lower-text p {
  display: inline-block;
  margin-top: -20px;
  font-size: 62px;
  font-weight: bold;
  color: #000000;
}
.text-image-section {
  margin: 78px 0px 0px 0px;
}
.text-image-section-paragraph p {
  font-size: 20.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.27;
  letter-spacing: 1.03px;
  text-align: justify;
  color: #dbb354;
}
.text-image-section-image {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}
.text-image-section-image img {
  width: 100%;
  height: 100%;
}

.aboutUs-footer-section {
  margin-top: 300px;
}

              /* event-page */

              
  .maindiv-event {
    background: url("./images/event.jpg");
    height: 100vh;
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     padding: 3rem 4rem 0rem;
    width: 100%;
  }
.call-event {
  display: inline-block;
  margin-left: 1rem;
  font-weight: bolder;
  color:#8c6e28;
  opacity: 0.5;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.call-event:hover {
  opacity: 1;
}

.loginbtn-event {
  font-family: Avenir;
  font-size: 10.5px;
  font-weight: 900;
  letter-spacing: 3.15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 85px;
  height: 25px;
}
.event-page-section-event{
  margin: 60px 0px 0px 0px;
}
.event-page-section-event-upper-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-page-section-event-svg,
.event-page-section-event-bar p,
.event-page-section-event-upper-text p{
  display: inline-block;
}
.event-page-section-event-svg{
  width: 113px;
  height: 72px;
  object-fit: contain;
}
.event-page-section-event-svg svg{
  width: 100%;
  height: 100%;
}
.event-page-section-event-bar{
  height: 72px;
}
.event-page-section-event-bar p{
  font-size: 75px;
  color: #dbb354;
  margin-top: -25px;
}
.event-page-section-event-upper-text{
   width: 443px;
   padding-top: 16px;
   padding-left: 10px;
}
.event-page-section-event-upper-text p{
  text-transform: uppercase;  
  font-family: Montserrat;
  color: #dbb354;  
  font-size: 37px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  text-align: left;
}

.event-page-section-event-lower-div {
  margin-top: 50px;
  height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.event-page-section-event-card{
  padding-top: 30px;
  background-color: #8c1f60;;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  width: 100%;
  height: 210px;
}
.event-page-section-event-card .card-body{
  padding: 0px;
  background-color: #8c1f60;;
}
.event-page-section-event-card-img{
  text-align: center;
}
.event-page-section-event-card-img img{
  width: 80px;
  height: 80px;
}
.event-page-section-event-card-text{
  text-align: center;
}
.event-page-section-event-card-text p{
  color: seashell;
  text-transform: uppercase;
}
.event-page-section-event-card-text p:nth-child(1){
  font-size: 15px;
}
.event-page-section-event-card-text p:nth-child(2){
  font-size: 7.5px;
  margin-top: -10px;
}
.event-page-section-event-button a{
  margin-top:18px ;
  border-radius: 6px;
  background-color: #dbb354;
  padding: 20px;
  text-align: center;  
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  width: 100%;
}
.event-page-section-event-button a i{
  transform: rotate(270deg);
}
/* 
.event-page-section-event-button a:hover{
  font-weight: 800;

} */

.event-page-section-event-paragraph{
font-family: Montserrat;
font-size: 21px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.71;
letter-spacing: 1.05px;
text-align: justify;
color: #dbb354;
padding: 0px;
margin-top: -7px;
}
.event-page-section-two{
  width: 100%;
  background-color: #d4b354;
  padding: 20px 0px 0px 0px;
}
.calender,.hub,.loc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-page-section-two-text{
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2.2px;
  color: black;
}
.event-page-section-two-svg{
  margin-left: 20px;
  margin-top: -10px;

}

.event-page-section-three{
  margin-top: 65px;
  margin-bottom: 65px;

}
.event-page-section-three-scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}  
.event-page-section-three-card {
  flex: 0 0 auto;
  margin-right: 10px;
}
.event-page-section-three-card img{
    border-radius: 10px;
}

.event-page-section-three-scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }

.event-page-section-four{
  background-color: bisque;
}
.event-page-video-section {
  position: relative;
  background-color: white;
  min-height: 1120px;
  padding: 0px 50px 0px 50px;
}
.event-page-video-section .top-content {
  z-index: 3;
  position: relative;
  margin: 160px 0px 0px 140px;
  width: 100%;
  padding: 0%;
}
.event-page-video-section .top-content .carousel {
  border-radius: 20px;
  width: 80%;
  height: 70%;
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
}
.event-page-video-section .top-content .carousel-inner {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.event-page-video-section .top-content .carousel-inner .carousel-item {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.event-page-video-section
  .top-content
  .carousel-inner
  .carousel-item
  .embed-responsive-16by9 {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.event-page-video-section
  .top-content
  .carousel-inner
  .carousel-item
  .embed-responsive-16by9
  .embed-responsive-item {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
}

.event-page-video-section video[poster] {
  width: 100%;
  height: 100%;
}

.event-page-video-section .slider-nav {
  z-index: 1;
  position: relative;
  top: 261px;
  left: 48%;
  width: 100px;
}

.event-page-video-section .slider-nav .nav {
  display: inline-block;
  width: 39px;
  height: 39px;
  background: url("./images/nav-circle.png") no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.event-page-video-section .slider-nav .nav .right {
  position: absolute;
  margin-top: 14px;
  margin-left: 18px;
  z-index: 1;
  width: 11px;
  height: 11px;
  border-style: solid;
  border-color: transparent transparent transparent #dbb354;
  border-width: 6px;
}

.event-page-video-section .slider-nav .nav .left {
  position: absolute;
  margin-top: 14px;
  margin-left: 9px;
  z-index: 1;
  width: 11px;
  height: 11px;
  border-style: solid;
  border-color: transparent #dbb354 transparent transparent;
  border-width: 6px;
}
.event-page-section-five{
  
  margin:0px 0px 52px 0px ;
}
.event-page-section-five .row{
  background: url("./images/main-background.png") no-repeat center top,
  linear-gradient(to top, rgba(255, 255, 255,0), rgba(255, 255, 255,1)),
  linear-gradient(to bottom, rgba(255, 255, 255,0), rgba(255, 255, 255,1)),
  linear-gradient(to left, rgba(255, 255, 255,0), rgba(255, 255, 255,1)),
  linear-gradient(to right, rgba(255, 255, 255,0), rgba(255, 255, 255,1));
}
.event-page-section-five-content{
  margin:250px 370px 250px 370px ;
  justify-content: center;
  align-items: center;
}
.event-page-section-five-text{
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2.4px;
  text-align: justify;
  color: #000000;
}
.event-page-section-five-button{
  margin-left: 70px;
  width: 210px;
  padding: 15px 15px 15px 30px ;
  border-radius: 6px;
  background-color: #000000;
}
.event-page-section-five-button a{
  font-size: 19px;
  font-weight: bold;
  letter-spacing: normal;
  color: #dbb354;
  text-decoration: none;
}
.event-page-section-footer{
  margin-top: 400px;
}

.event-page-section-six{
  min-height: 818px;
  margin-top: 200px;
}
.black-section{
border:1px solid white;
position: relative;
width: 100%;
height: 350px;	
}
.black-section:before{
	position: absolute;
	content: "";
	background-color: black;
	width: 100%;
	height: 300px;
	transform: skewY(-5deg);
	margin-top: 50px;	
}
.yellow-section{
	border:1px solid white;
position: relative;
width: 100%;
height: 350px;	
}
.yellow-section:before{
	position: absolute;
	content: "";
	background-color: #d4b354;
	width: 100%;
	height: 300px;
	transform: skewY(5deg);	
}



/* profile style */

.profile-section {
  margin: 70px 0px 100px 0px;
  text-align: center;
}
.profile-text {
  font-family: Avenir;
  font-size: 88px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 26.4px;
  color: #000000;
  text-transform: uppercase;
}

.profile-input-feilds-section{
  margin-top: 116px;
}
.profile-heading{
  margin-bottom: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-heading:nth-child(1){
  height: 24px;
  font-family: Avenir;
  font-size: 31.5px;
  font-weight: 900;
  letter-spacing: 3.15px;
  color: #000000;
  text-transform: uppercase;
}
.profile-heading  hr{
  border-top: 2px solid black;
}
.profile-input-feild{
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.profile-input-feild:focus{
  outline: none;
}
.profile-feild-icon{
  width: 70px;
  background-color: black;
  color: #d4b354;
  border: 2px solid black;
  border-right:none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
}
.profile-submit-button{
  margin:41px 0px 150px 0px;
  color: black;
  font-size: 26px;
  font-weight: 800;
  background-color: #d4b354;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

.booking-section-two{
  background-color: black;
}
.booking-section-two .row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-section-two .row a{
  border: 1px solid #8c6e28;
  color: #d4b354;
  background-color: black;
  padding: 30px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
.booking-section-two .row a:hover{
  color: black;
  background-color: #dbb354;
}
.booking-section-two .row .active-booking-section-two{
  color: black;
  background-color: #dbb354;
}

.booking-section-three .container {
  margin-top: 62px;

}
.booking-section-three .container .row {
  margin-top: 44px;

}
.booking-section-three .container
  .first-card {
    border-radius: 15px;
  width: 100%;
  height: 400px;
  background: url("./images/event-bg.png") no-repeat center center,
    linear-gradient(to top, rgb(219, 179, 84, 0.9), rgb(219, 179, 84, 1));
  background-size: cover;
}
.booking-section-three .container
  .center-card {
  width: 343px;
  height: 284.9px;
  background-color: #d4b363;
}
.booking-section-three .container
  .card
  .badge1 {
  width: 130px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  left: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}
.booking-section-three .container
  .card
  .badge1
  p {
  display: inline-block;
  font-size: 10px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 22%;
  margin-top: 3px;
}
.booking-section-three .container
   .card .badge1 b {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 20%;
}
.booking-section-three .container
  .card
  .badge1
  img {
  width: 20px;
  height: 20px;
  left: 2%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}
.booking-section-three .container
  .card
  .badge2 {
  width: 100px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.booking-section-three .container
  .card
  .badge2
  p {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 25%;
  margin-top: 3px;
}
.booking-section-three .container
  .card
  .badge2
  img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.booking-section-three .container
  .card
  .badge3 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.booking-section-three .container
  .card
  .badge3
  p {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 35%;
  margin-top: 3px;
}
.booking-section-three .container
  .card
  .badge3
  img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.booking-section-three .container
  .card
  .badge4 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  border-radius: 9.8px;
  position: absolute;
  z-index: 1;
}
.booking-section-three .container
  .card
  .badge4
  img {
  width: 31px;
  height: 20px;
  left: 4%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}

.booking-section-three .container
  .card
  .badge4
  .line {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  color: black;
  position: absolute;
  left: 38%;
  top: 5%;
}

.booking-section-three .container
  .card
  .badge4
  .upper-text {
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: black;
  position: absolute;
  left: 50%;
  top: 6%;
  margin-top: 0px;
}

.booking-section-three .container
  .card
  .badge4
  .lower-text {
  display: inline-block;
  width: 120px;
  height: 20px;
  font-size: 10.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.53px;
  text-align: right;
  color: #000000;
  position: absolute;
  left: 50%;
  top: 55%;
}

.booking-section-three .container
  .first-card
  .event-logo {
  padding-top: 120px;
  color: black;
  text-align: center;
  
}
.booking-section-three .container
  .card
  .event-logo
  img {
    width: 100px;
    height: 100px;
    
}
.booking-section-three .container
  .card
  .event-logo p {
    width: 100%;
    font-size: 13px;
    font-weight: 800;
    
}
.booking-section-three .container
  .card
  .event-logo p:nth-child(3) {
    width: 100%;
    font-size: 10px;
    font-weight: 800;
    margin-top: -10px;
    
}

.mybooking-pagination {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mybooking-pagination #two,
.mybooking-pagination #three,
.mybooking-pagination #four,
.mybooking-pagination #five,
.mybooking-pagination #six {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.mybooking-pagination #left-angle,
.mybooking-pagination #right-angle {
  border: 2px solid black;
  border-radius: 100px;
  color: black;
  float: left;
  padding: 2px 15px;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  transition: background-color 0.3s;
}

.mybooking-pagination a#four {
  background-color: black;
  color: white;
  padding: 10px 18px;
  border-radius: 100px;
}

.mybooking-pagination a:hover:not(#four) {
  background-color: #ddd;
  border-radius: 100px;
}
#pendingPage,
#bookedPage{
  display: none;
}
.booking-section-three .booked-btn,
.booking-section-three .pending-timer-btn {
  text-align: center;
}
.you-booked-text p,
.remaining-text p{
  margin-top: 51px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.73px;
  color: #000000;
  text-transform: uppercase;
}
.you-booked-text p span,
.remaining-text p span{
  font-size: 18px;
  font-weight: 800;
}
#amount{
  font-size: 24px;
}

.set-reminder-btn a ,
.view-map-btn a{
background-color: #eeeeee;
display: inline-block;
margin-bottom:10px;
}
.set-reminder-btn a button,
.view-map-btn a button,
.add-aobooking-btn a button,
.pay-now-btn a button{
  padding: 20px 61px;
  font-size: 14.5px;
  font-weight: 800;
  letter-spacing: 2.9px;
  text-transform: uppercase;
  color: black;
  background-color: none;
  border: none;
}
.view-map-btn a button{
  padding: 20px 70px;
}
.add-aobooking-btn a button {
  padding: 20px;
  color: #dbb354;
  background-color: black;
}

.pay-now-btn a button
  {
  padding: 20px 100px;
  color: #dbb354;
  background-color: black;
}
.bookedPage-row{
  padding-bottom: 81px;
  border-bottom: 1px solid lightgray;
}
.pendingPage-row{
  padding-bottom: 81px;
  border-bottom: 1px solid lightgray;
}
/* mybooking */


.app{
  margin: 59px 0px 34px 0px;
}

.base-timer {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}

.base-timer__svg {
transform: scaleX(-1);
}

.base-timer__circle {
fill: none;
stroke: none;
}

.base-timer__path-elapsed {
stroke-width: 2px;
stroke: #eeeeee;
}

.base-timer__path-remaining {
stroke-width: 3px;
stroke-linecap: round;
transform: rotate(90deg);
transform-origin: center;
transition: 1s linear all;
fill-rule: nonzero;
stroke: currentColor;
}

.base-timer__path-remaining.green {
color: rgb(0, 0, 0);
}
/*
.base-timer__path-remaining.orange {
color: orange;
}

.base-timer__path-remaining.red {
color: red;
}
*/
.base-timer__label {
position: absolute;
width: 80px;
height: 80px;
top: 0;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
color: black;
} 
#date-title{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* register-page */
.register-page{
  background-image: url('images/group-37@3x.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0px 33px;
}
header .pick-detail{
  float: left;
  color: #000000;
  text-transform: uppercase;
  
}
header .pick-detail .you-picked{
  font-size: 44px;
  font-weight: 800;
  font-stretch: normal;
  letter-spacing: 2.29px;
}
header .pick-detail p{
  margin-bottom: 0px;
}
header .pick-detail p span:nth-child(1){
  font-size: 18px;
  font-weight: 500;
}
header .pick-detail p span:nth-child(2){
  margin-left: 20px;
  font-size: 27px;
  font-weight: 800;
}

header .pick-detail p:nth-child(3) span:nth-child(2){
  margin-left: 5px;
  font-size: 18px;
  font-weight: 800;
}
header .pick-detail p:nth-child(3) span:nth-child(3){
  margin-left: 5px;
  font-size: 27px;
  font-weight: 800;
}
header .logo{
  margin-top: 20px;
  float: right;
}

header .logo img{ 
   width: 130px;
   object-fit: contain;
}
.register-page .main-row{
  text-align: center;
  margin-top: 50px;

}

.register-feild-icon{
  width: 60px;
  background-color: black;
  color: #d4b354;
  border: 2px solid black;
  border-right:none;
  border-radius: 10px;
  padding: 7px 15px;
  font-size: 35px;
}


.rfi2{
  padding: 7px 15px;
  font-size: 30px;
}
.rfi3{
  padding: 7px 18px;
  font-size: 30px;
  font-weight: lighter;
}
.rfi4{
  padding: 2px 20px;
  font-size: 30px;
}
.rfi5{
  padding: 5px 20px;
  font-size: 30px;
}

.register-input-feild{
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: transparent;
}