/* body{
    background-color: bisque;
}
.logo-wrapper{
    background-color: #e3e3e8;
    min-height: 50px;
}
.menu-wrapper{
    background-color: aqua;
    min-height: 50px;
}
.slideshow-wrapper{
    background-color:chocolate;
    min-height: 50px;
}
.panel-icon{
    color: darkturquoise;
    margin-right: 5px;
}
.panel-icon-read{
    
    color: darkturquoise;
    margin-right: 5px;
}
.uk-border-rounded{
    border-radius: 15px;
}
.Vector-Smart-Object{
    background-color: #dbb354;
    height: 645px;
  }
  .Vector-Smart-Object .bg-image{
    mix-blend-mode: luminosity;
    position: absolute;
  }
  
  .navbar ul li{
      list-style: none;
      display: inline-block;
      padding: 20px;
  }
  .navbar ul li a{
      color: black;
 
} */

@font-face {
  font-family: "Avenir";
  src: url("fonts/avnir_sv/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "nexa";
  src: url("fonts/Nexa/Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
  src: url("fonts/Nexa/Nexa/Nexa_V1_2012/Nexa\ Light.otf");
}
.maindiv {
  background-image: linear-gradient(to top, #dbb354, #dbb354);
  height: 645px;
  width: 1336px;
  mix-blend-mode: luminosity;
}
.maindiv .img img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  mix-blend-mode: luminosity;
}
.upevent-heading {
  font-family: Montserrat;
  font-size: 42px;
  color: #d4b363;
  letter-spacing: 2.1px;
  margin-bottom: 37px;
}
.categories {
  font-family: Montserrat;
  font-size: 42px;
  color: #d4b363;
  letter-spacing: 2.1px;
}
.catcaption {
  color: #dbb354;
  font-size: 14px;
}
.pickabooth-logo {
  display: inline-block;
  margin: 56px 0px 0px 94px;
}
.pickabooth-logo img {
  width: 203px;
  height: 39px;
}
.nav {
  padding: 0px;
  display: inline-block;
  margin: 66px 83px 0px 99px;
  width: 480px;
  height: 19px;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  padding-right: 25px;
}
.nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: black;
}
.call {
  margin-top: 88px;
  margin-left: 20px;
}
.navbar-collapse {
  padding: 0px;
  margin-left: 99px;
  margin-right: 83px;
  width: 471px;
}
.signupbtn {
  font-family: Avenir;
  font-size: 10.5px;
  font-weight: 900;
  letter-spacing: 3.15px;
  border-radius: 5px;
  background-color: #c9a247;
  color: #8c6e28;
  width: 85px;
  height: 25px;
}
.loginbtn {
  font-family: Avenir;
  font-size: 10.5px;
  font-weight: 900;
  letter-spacing: 3.15px;
  border-radius: 5px;
  background-color: #000000;
  color: #8c6e28;
  width: 85px;
  height: 25px;
}
.loginbtn:hover {
  color: #8c6e28;
}

.langbtn {
  font-family: Avenir;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3.15px;
  border-radius: 5px;
  background-color: #c9a247;
  color: #8c6e28;
}
.howitworks {
  margin: 80px 500px 30px 500px;
  font-family: Montserrat;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 1.45px;
  color: black;
}
.threeboxes {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 100px 100px 100px;
}
.category .row .col-md-2 .card {
  border: none;
}
.category .row .col-md-2 .card .card-body {
  border-radius: 25px;
  background-color: #f5f5f5;
}

.category .row .col-md-2 .card #catcap1,
.category .row .col-md-2 .card #catcap2,
.category .row .col-md-2 .card #catcap3,
.category .row .col-md-2 .card #catcap4,
.category .row .col-md-2 .card #catcap5,
.category .row .col-md-2 .card #catcap6 {
  color: #f5f5f5;
}
.category {
  display: table;
}
.category .card {
  display: table-cell;
}
.event-section {
  margin-bottom: 112px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.event-section .event-row {
  width: 2336px;
  box-sizing: border-box;
}
.event-section .event-row .event {
  display: inline-block;
}
.event-section .event-row .event .card,
.event-section .event-row .event .card img {
  border-radius: 15px;
}
.first-event {
  margin-left: 74.2px;
}

.event-section .event-row .event .card {
  width: 343px;
  height: 284.9px;
  background-color: #dbb354;
}
.event-section .event-row .event .card .badge1 {
  width: 130px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  left: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}
.event-section .event-row .event .card .badge1 p {
  display: inline-block;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 37%;
  margin-top: 3px;
}
.event-section .event-row .event .card .badge1 b {
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  left: 20%;
}
.event-section .event-row .event .card .badge1 img {
  width: 20px;
  height: 20px;
  left: 2%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}
.event-section .event-row .event .card .badge2 {
  width: 100px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.event-section .event-row .event .card .badge2 p {
  display: inline-block;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 25%;
  margin-top: 3px;
}
.event-section .event-row .event .card .badge2 img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.event-section .event-row .event .card .badge3 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  right: 0%;
  border-radius: 9.8px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.event-section .event-row .event .card .badge3 p {
  display: inline-block;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: #d9b253;
  position: absolute;
  right: 35%;
  margin-top: 3px;
}
.event-section .event-row .event .card .badge3 img {
  width: 18px;
  height: 18px;
  right: 4%;
  position: absolute;
  display: inline-block;
}

.event-section .event-row .event .card .badge4 {
  width: 80px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  bottom: 0%;
  border-radius: 9.8px;
  position: absolute;
  z-index: 1;
}
.event-section .event-row .event .card .badge4 img {
  width: 31px;
  height: 20px;
  left: 4%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}

.event-section .event-row .event .card .badge4 .line {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  color: black;
  position: absolute;
  left: 38%;
  top: 5%;
}

.event-section .event-row .event .card .badge4 .upper-text {
  display: inline-block;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  color: black;
  position: absolute;
  left: 50%;
  top: 6%;
  margin-top: 0px;
}

.event-section .event-row .event .card .badge4 .lower-text {
  display: inline-block;
  width: 120px;
  height: 20px;
  font-family: Montserrat;
  font-size: 10.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.53px;
  text-align: right;
  color: #000000;
  position: absolute;
  left: 50%;
  top: 55%;
}

.event-section .event-row .event .card .event-logo {
  width: 99px;
  height: 77px;
  margin: 10px;
  top: 30%;
  left: 20%;
  position: absolute;
  z-index: 1;
}
.event-section .event-row .event .card .event-logo img {
  width: 99px;
  height: 77px;
  position: absolute;
  display: inline-block;
  z-index: 1;
}

.event-section .event-row .event .card img {
  width: 343px;
  height: 284.9px;
  mix-blend-mode: luminosity;
}
.event-section .event-row .event {
  padding: 5px;
}
.owl-carousel {
  padding: 10px 220px 20px 220px;
}

.owl-carousel .card img {
  margin: 31px 64px 0px 64px;
  width: 77px;
  height: 77px;
  object-fit: contain;
}
.owl-carousel .card {
  margin: 0px 0px 0px 0px;
  width: 205px;
  height: 311px;
  border-radius: 12px;
  box-shadow: 0px 7px 10px 0 rgba(38, 38, 37, 0.2);
  background-color: #000000;
}

.owl-carousel .card .card-body .card-title {
  width: 150px;
  height: 18px;
  font-family: Montserrat;
  font-size: 24.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: 4.9px;
  color: #d4b363;
}
.owl-carousel .card .card-body .card-text {
  width: 141px;
  height: 90px;
  font-family: Montserrat;
  font-size: 8.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: 0.43px;
  text-align: justify;
  overflow: hidden;
  color: #d4b363;
}
.owl-carousel .owl-nav button.owl-next {
  background: black;
  position: absolute;
  width: 30px;
  border-radius: 100px;
  height: auto;
  right: 0%;
  top: 40%;
  font-size: 20px;
  font-weight: bolder;
  color: #8c6e28;
  padding: 20px;
  display: inline-block;
}
.owl-carousel .owl-nav button.owl-prev {
  display: inline-block;
  background: black;
  position: absolute;
  width: 30px;
  border-radius: 100px;
  height: auto;
  left: 0%;
  top: 40%;
  font-size: 20px;
  font-weight: bolder;
  color: #8c6e28;
  padding: 20px;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #8c6e28;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
  border: 2px solid #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
/* 
.video-section{
    box-sizing: border-box;
    width: 100%;   
    position: relative;
    border-top: 1px solid black;
    background-color: blue;
    height:992px;
    overflow: hidden;

 }
.video {
    background: blue; /* Old browsers */
/* }

.video:after{
    margin-top: 100px;
    content: '';
    position: absolute;
    display: block;
    width:100%;
    left:0;
    height:992px;
    background: yellow;
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
}
.video:before{
    content: '';
    display: block;
    position: absolute;
    width:100%;
    right:0%;
    height:992px;
    background: green;
    -ms-transform: skewY(-10deg);
    transform: skewY(-10deg);
} 

  */
.video-section {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  background-color: white;
  position: relative;
  height: 740px;
}
.video-section:after {
  margin-top: 70px;
  content: "";
  width: 100%;
  height: 80%;
  top: 0;
  right: 0;
  background-color: #d9b253;
  position: absolute;
  transform: skewY(-6deg);
  z-index: 2;
}
.video-section:before {
  z-index: 1;
  margin-top: 140px;
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  right: 0;
  background-color: black;
  position: absolute;
  transform: skewY(7deg);
}
.video-section .top-content {
  z-index: 3;
  position: relative;
  margin: 160px 0px 0px 140px;
  width: 100%;
  padding: 0%;
}
.video-section .top-content .carousel {
  border-radius: 20px;
  width: 80%;
  height: 70%;
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
}
.video-section .top-content .carousel-inner {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.video-section .top-content .carousel-inner .carousel-item {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.video-section
  .top-content
  .carousel-inner
  .carousel-item
  .embed-responsive-16by9 {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.video-section
  .top-content
  .carousel-inner
  .carousel-item
  .embed-responsive-16by9
  .embed-responsive-item {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
}
.carousel-control-prev,
.carousel-control-next {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 1;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev {
  font-size: 8px;
  padding: 4px 2px 0px 0px;
  background-color: black;
  position: absolute;
  left: 46%;
  top: 105%;
  z-index: 2;
  opacity: 1;
}
.carousel-control-next {
  background-color: black;
  position: absolute;
  right: 46%;
  top: 105%;
  z-index: 2;
  opacity: 1;
  font-size: 8px;
  padding: 5px px 0px 2px;
}
.carousel-indicators {
  display: none;
}

.footer {
  width: 100%;
  height: 316px;
  position: relative;
}
.footer .img img {
  z-index: -1;
  margin-bottom: 316px;
}
.footer::after {
  bottom: 0%;
  content: "";
  position: absolute;
  width: 100%;
  height: 15vh;
  background-color: #dbb354;
}
.contact {
  box-sizing: border-box;
  z-index: 1;
  bottom: 0%;
  left: 223px;
  position: absolute;
  width: 316px;
  height: 586px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #000000;
}
.address {
  display: inline-block;
  height: 21px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: right;
  margin: 71px 0px 0px 50px;
  color: #d4b363;
}
.Tamin-Street-Doha {
  display: inline-block;
  margin: 22px 0px 0px 50px;
  height: 16px;
  font-family: Montserrat;
  font-size: 18.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: 0.93px;
  text-align: right;
  color: #d4b363;
}
.phone {
  margin: 41px 0px 0px 50px;
  display: inline-block;
  height: 21px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: right;
  color: #d4b363;
}
.footer-phone {
  display: inline-block;
  margin: 22px 0px 0px 50px;
  height: 16px;
  font-family: Montserrat;
  font-size: 18.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: 0.93px;
  text-align: right;
  color: #d4b363;
}
.email {
  margin: 41px 0px 0px 50px;
  display: inline-block;
  height: 21px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: right;
  color: #d4b363;
}
.footer-email {
  display: inline-block;
  margin: 22px 0px 0px 50px;
  height: 16px;
  font-family: Montserrat;
  font-size: 18.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: 0.93px;
  text-align: right;
  color: #d4b363;
}
.footer-pickabooth {
  display: inline-block;
  margin: 65px 56px 0px 57px;
}
.facebook {
  font-size: 20.5px;
  display: inline-block;
  color: #d4b363;
  margin: 20px 0px 20px 86px;
}
.instagram {
  font-size: 20.5px;
  display: inline-block;
  margin: 20px 0px 20px 30px;
  color: black;
  background-color: #d4b363;
}
.twitter {
  font-size: 20.5px;
  display: inline-block;
  margin: 20px 0px 20px 30px;
  color: #d4b363;
}
.contact-form {
  box-sizing: border-box;
  z-index: 1;
  bottom: 0%;
  left: 671px;
  position: absolute;
  width: 316px;
  height: 586px;
}
/* .Name {
            display: block-lock;
            width: 55px;
            height: 15px;
            font-family: Nexa;
            font-size: 19.5px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.31;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-bottom:50px ;
          } */
.name-input {
  outline: none;
  font-size: 21px;
  color: #000000;
  display: block-lock;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  width: 506px;
  z-index: 2;
  opacity: 1;
}
.submit-bg {
  margin: 38px 0px 0px 0px;
  width: 506px;
  height: 52px;
  background-color: #000000;
  font-family: Nexa;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 3.6px;
  text-align: center;
  color: #dbb354;
}

.reach-to-us {
  box-sizing: border-box;
  z-index: 1;
  top: 71%;
  left: 729px;
  position: absolute;
}
.Rectangle-15 {
  width: 400px;
  height: 80px;
  border-radius: 6px;
  background-color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.97;
  letter-spacing: 3.6px;
  color: #dbb354;
}

#slider {
  margin: 160px 0px 0px 140px;
  width: 80%;
  height: 55%;
  z-index: 3;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  perspective: 1000px;
  transform-style: preserve-3d;
}
input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0px 15px 0px 0px;
  opacity: 0.5;
  cursor: pointer;
  transform: translateX(-83px);
}
input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}
input[type="radio"]:checked {
  opacity: 1;
}
#slider label {
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  width: 100%;
  height: 100%;
}
#slider label video {
  display: inline-block;
  border-radius: 20px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#slider label video source {
  left: 0%;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#slide1 {
  background-color: chocolate;
}
#slide2 {
  background-color: cornflowerblue;
}
#slide3 {
  background-color: crimson;
}
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  -webkit-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  -moz-box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  box-shadow: 0px 41px 47px -35px rgba(163, 14, 196, 1);
  transform: translate3d(0%, 0, 0px);
}
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -150px);
}
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -150px);
}
